<div class="cabecalho">

  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" href="#" [routerLink]="['sobre']">Sobre</a></li>
    <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['lista']">Lista</a></li>
    <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['add-aluno']">Add Aluno</a></li>
    <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['detalhe']">Detalhes</a></li>
    <!-- <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['editar']">Editar</a></li> -->

  
 
 
  </ul>
  
</div>



















<!-- <div class="cabecalho">

  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" href="#" [routerLink]="['sobre']">Sobre</a></li>
    <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['lista']">Lista</a></li>
    <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['add-aluno']">Add Aluno</a></li>
    <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['detalhe']">Detalhes</a></li>
            ****<li class="nav-item"><a class="nav-link" href="#" [routerLink]="['editar']">Editar</a></li>
  </ul>
  
</div> -->




<!--  
[routerLink]="['sobre']"
[routerLink]="['lista']"
[routerLink]="['add-aluno']"
[routerLink]="['detalhe']"
[routerLink]="['editar']"
-->

<!-- 
<button type="button" class="btn btn-primary" [routerLink]="['sobre']" >Sobre</button>

<button type="button" class="btn btn-secondary" [routerLink]="['lista']" >Lista</button>

<button type="button" class="btn btn-success" [routerLink]="['add-aluno']">Add Aluno</button>

<button type="button" class="btn btn-danger" [routerLink]="['detalhe']" >Detalhe</button>

<button type="button" class="btn btn-secondary" [routerLink]="['editar']" >Detalhe</button> 
-->